# IDE files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# Build directories and binary files
out

# User spesific settings
CMakeUserPresets.json
